<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Avatar-api" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
  <img src="http://localhost:4000/avatar.svg?name=marry%20jane%20lucia&size=300&shape=rect&color=black" alt="MJ">
</div>

